*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslateblue;
}

.carre{
    max-width: 250px;
    height: 250px;
    background-color: #f72585;
    margin: 150px auto;
    border: 2px solid #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    -webkit-animation: cicle 1s linear infinite;
    -moz-animation: circle 1s linear infinite;
    animation: circle 1s linear infinite;

}

/* utiliser keyframe */

 @-webkit-keyframes circle{
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes circle{
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes circle{
    100%{-webkit-transform: rotate(360deg);}
}